# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next/
out/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Turbo
.turbo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
*.pem

# Editor
.vscode
.idea

# Docker
docker/volumes/

# Vercel
.vercel